-- Example 0
Library
10
3
5
7
9
3
Plum
Scarlett
Plum
3
Library
Library
Cellar

Scarlett
-- Example 1
Library
10
0
0
0


-- Example 2
Library
8
3
5
7
9
3
Plum
Scarlett
Plum
3
Library
Library
Cellar


-- Example 3
Hall
11
6
2
4
6
8
10
12
6
White
Green
Peacock
Plum
Scarlett
Mustard
6
Kitchen
Ballroom
Conservatory
Library
Lounge
Study

Mustard
-- Example 4
Library
10
2
3
7
2
Plum
Plum
2
Library
Library

Plum
