-- Example 0
6
9
6
..#......
.........
.###..#..
.#.##..#.
...#..#..
.........

6
-- Example 1
1
1
1
.

1
-- Example 2
7
4
7
####
####
####
####
####
####
####

0
-- Example 3
9
48
9
#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.
................................................
.#####...###...###.......##....###....##..#####.
...#....#.....#...#.....#..#..#...#..#.#..#...#.
...#....#.....#...#........#..#...#....#..#####.
...#....#.....#...#......#....#...#....#......#.
...#.....###...###......####...###.....#..#####.
................................................
#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.

18
